body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  padding-top: 200px;
}

#header {
    position: fixed;
    padding: 20px 0px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    top: 0px;
    width: 100%;
    z-index: 100;
}

#counter {
    @extend #header;
    top: 93px;
}

#content {
    .item {
        cursor: pointer;
        position: relative;
        &.green {
            background-color: green;
        }
        &.red {
            background-color: red;
        }
        &.simple {
            background-color: #fff;
        }
        &.selected {
            border-color: #000;
            z-index: 2;
        }
        .glyphicon {
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }
}
