<div id="counter">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <p>Кол-во: {{ listItems.length }}</p>
            </div>
            <div class="col-xs-3">
                <p>Выбранное кол-во: {{selected}}</p>
            </div>
            <div class="col-xs-3" style="color: green">
                <p>Выбрано зеленых: {{selectedGreen}}</p>
            </div>
            <div class="col-xs-3" style="color: red">
                <p>Выбрано красных: {{selectedRed}}</p>
            </div>
        </div>
    </div>
</div>
